DCA_EDITOR_PASSWORD=replace-with-a-long-private-password
GITHUB_TOKEN=github-fine-grained-token-with-contents-read-write
GITHUB_OWNER=kong-index
GITHUB_REPOSITORY=dca-website
GITHUB_BRANCH=main
GITHUB_POSTS_PATH=content/writing-posts.json
